body, html {
  height: 100%;
  margin: 0;
  background-color: #faebd7;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
	background-color:#ffc0cb;
	border-radius:14px;
	border:3px solid #e3aeb8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:16px 31px;
	text-decoration:none;
}
.question {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.options {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.options li {
  margin: 8px 0;
}

.result {
  font-size: 24px;
  text-align: center;
}
.button:hover {
	background-color:#ffcfd8;
}
.button:active {
	position:relative;
	top:1px;
}
